body{
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.VopUUeSy8gssWq4uAr3yfgHaDQ&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover; 
    border:12px groove lightgreen;
    padding-bottom:10px;
   


}
.container{
    display:flex;
    padding:50px 0px 0px 30px;
}

.box{
    border:7px solid red;
    background:black;
    color:white;
    text-align:center;
    font-size:2em;
    font-style: oblique;
}
#first{
border-radius:30px;
width:10em;
padding:15px 0 30px 0px;

}
#second{

    border-radius:30px;
    height:40px;
    padding:30px 40px 0px 40px; 
    margin:6px 0px 0px -80px;

}
#third{
    border-radius:30px;
    padding:5px 40px 0px 40px;
    margin-left:auto;
    margin-right: 8px;

}

.circle>p{
    text-decoration:underline;
    font-style:italic;
    color:black;
    text-align:center;
    font-weight: bold;
    font-size:x-large;
    
}
.circle{
    background :rgb(47, 156, 143);
    border-radius:50%;
    border:7px solid gray;
    width:400px;
    height:400px;
    margin-top: 110px;
   margin-left:100px;
}
.container2{
    display:flex;
    margin-top:8em;
   
}
.form{
    border:10px dashed red;
    text-align: center;
    margin-left:200px;
    padding:0px 5px 0px 5px;
    
}
.form>p{
    color:rgb(243, 107, 89);
    font-weight: bold;
    font-size:19px;
}

.container3{
    display:flex;
}
.container4{
    display:flex;
}
.card{
    border:2px solid green;
    border-radius: 20px;
    background:cyan;
    width: 350px;
    margin-left:100px;
    margin-top:40px;
}
.card>h2{
    text-align:center;
    color:darkblue;
    font-size:30px;
    font-weight: bold;
}
.card>ul>li{

    color:darkblue;
    text-align:center;
}