body{
    background-color: yellow;
}
.box{
   
    background-color: rgb(25, 196, 25);
   
    margin-top: 12px;
}
.main{
    display: grid;
    justify-content: center;
}
#list-1{
    height: 150px;
    width:150px;
    transition: width  1.5s  ease-out ;

}
#list-1:hover{
    width:400px;
}

#list-2{
    height: 150px;
    width:150px;
    transition: all  3s  ease-in-out;


}

#list-2:hover{
    width:380px;
    height: 400px;
}
#list-3{
    height: 150px;
    width:150px;
    transition: all  3s  linear ;


}
#list-3:hover{
    width:400px;
}

#list-4{
    height: 150px;
    width:150px;
    transition: all  1.5s  ease-out ;


}
#list-4:hover{
    width:400px;
}
#list-5{
    height: 150px;
    width:150px;
    transition: all  2s  ease-in-out ;


}
#list-5:hover{
    width:400px;
}
#list-6{
    height: 150px;
    width:150px;
    transition: all  1.5s  ease-out ;


}
#list-6:hover{
    width:400px;
}
#list-7{
    height: 150px;
    width:150px;
    transition: all  1.5s  ease-in-out ;


}
#list-7:hover{
    width:400px;
}